/* header styles section */

.header-image{
    background-image: url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
     padding: 10px;
     margin-left: 7%;
     padding-bottom: 1%;
     padding-top:50px;
     border-radius: 16px;
     position: relative;
     background-size: cover;
     justify-content: center;
     
     
    

}
header{
    
    margin-top: 50px;
    padding-right: 100px;
}
.header-item{
    color:white;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    
    
    
    
}
.header-text{
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 25px;
font-weight: 700;
padding: 20px ;
padding-top: 70px;

}
.header-title{
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-weight: 850;
line-height: 90px;
padding-bottom: 100px;
padding-top: 10px;
 /* 131.944% */
}
.header-title .header-text{
    padding-block: 70px;
}
.section-title{
    text-align: center;
}
.offer-discount{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 80px;
font-style: normal;
font-weight: 700;

}